doctype html
html(lang="es")
    head
        title MSSYSTEM
        meta(charset="utf-8")
        link(rel="stylesheet",type="text/css", href="./css/bootstrap.css")
    body
        //Lo que se va a sustituir cuando sea llamado desde otras vistas
        block contenido